######################################################################
#   Сonfiguration file for "amd_fan"
#   Place in /usr/local/etc/amd_fan/
######################################################################

# High temperature, °C (default value - 60)
HIGH_TEMP = 60

# Low temperature, °C (default value - 55)
LOW_TEMP = 55

# Timeout between fan speed sets, sec (default value - 60)
SLEEP_TIME = 60

# Speed step, % (default value - 5)
SPEED_STEP = 5

# Initial fan speed when the program starts, % (default value - 80)
INIT_FAN_SPEED = 100

# Debug level ("DEBUG" - debugging messages, "" - silence)
DEBUG_LEVEL = "DEBUG"
